@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR-Regular'),
		 url('font/NotoSansKR-Regular.woff2') format('woff2'),
         url('font/NotoSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR-Medium'), 
		 url('font/NotoSansKR-Medium.woff2') format('woff2'),
         url('font/NotoSansKR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR-Bold'),
		 url('font/NotoSansKR-Bold.woff2') format('woff2'),
         url('font/NotoSansKR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


*{max-height:1e+06px; overscroll-behavior:contain} 
*:focus{outline:none}


/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none; color:#000}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
button {all: unset;}
li{list-style:none}

img{max-width:100%}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
}

html{
  font-size:20px; width:100%; height:100%; overflow:hidden; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box
}

body{
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0;
	line-height:1;
	color:#000000;
	font-family:'Noto Sans KR', 'sans-serif';
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
}


// iOS 11.0 버전
constant(safe-area-inset-top)
constant(safe-area-inset-right)
constant(safe-area-inset-bottom)
constant(safe-area-inset-left)

// iOS 11.2 이상
env(safe-area-inset-top)
env(safe-area-inset-right)
env(safe-area-inset-bottom)
env(safe-area-inset-left)

@media screen and (max-width: 1159px) { 
	html{ font-size:28px;}

}

@media screen and (max-width: 749px) { 
	html{ font-size:14px;}

}





